@-moz-document regexp('^http://.*.wikipedia.org/.*') {
    #mw-panel {
        display: none !important;
        width: 0px;
    }
    #mw-head {
        display: none !important;
    }
    #mw-head-base {
        height: 0px !important;
    }
    #content {
        margin-left: 0px !important;
    }
    #footer {
        display: none !important;
        height: 0px !important;
    }
    #mw-articlefeedback {
        display: none !important;
    }
    p {
        font-size: 110% !important;
    }
}
